@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FFF8DC;
    font-family:"Zen Maru Gothic",sans-serif;
    color:#000;
}

a{
    text-decoration:none;
    color:#000;
}

img{
    display:block;
    width:100%;
}

/*------------------------
ヘッダー
------------------------*/

header{
    width:90%;
    margin:30px auto 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    background:#FFD9B3;
    padding:15px 30px;
    border-radius:40px;
    font-size:32px;
    font-weight:500;
}

.menu{
    width:42px;
    cursor:pointer;
}

.menu span{
    display:block;
    height:4px;
    background:#000;
    margin:8px 0;
    border-radius:10px;
}

/*------------------------
レシピ一覧
------------------------*/

.recipe-list{
    width:90%;
    max-width:1200px;
    margin:0 auto 80px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:70px 60px;
}

.recipe-card{
    display:block;
    transition:.25s;
}

.recipe-card:hover{
    transform:scale(1.05);
}

.image-box img{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:15px;
}

.recipe-card h2{
    margin-top:18px;
    font-size:24px;
    font-weight:500;
}

.star{
    margin-top:10px;
    font-size:28px;
    color:#FFD700;
    letter-spacing:2px;
}

/*------------------------
スマホ対応
------------------------*/

@media(max-width:768px){

    header{
        width:95%;
    }

    .logo{
        font-size:24px;
        padding:12px 24px;
    }

    .recipe-list{
        width:95%;
        grid-template-columns:1fr;
        gap:50px;
    }

    .recipe-card h2{
        font-size:22px;
    }

    .star{
        font-size:24px;
    }

}