@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FFF8DC;
    font-family:"Zen Maru Gothic",sans-serif;
    color:#000;
}

img{
    display:block;
    width:100%;
    border-radius:12px;
}

a{
    text-decoration:none;
    color:#000;
}

/*------------------------
ヘッダー
------------------------*/

header{
    width:90%;
    margin:30px auto 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.category{
    background:#FFD9B3;
    padding:15px 30px;
    border-radius:40px;
    font-size:32px;
    font-weight:500;
}

.menu{
    width:42px;
    cursor:pointer;
}

.menu span{
    display:block;
    height:4px;
    background:#000;
    margin:8px 0;
    border-radius:10px;
}

/*------------------------
一覧
------------------------*/

.recipe-list{
    width:90%;
    max-width:1200px;
    margin:0 auto 80px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:70px;
}

.card{
    display:block;
}

.card h2{
    font-size:32px;
    font-weight:500;
    margin-top:18px;
}

.level{
    margin-top:10px;
    font-size:28px;
    color:#FFD700;
    letter-spacing:3px;
}

/*------------------------
サイドメニュー
------------------------*/

#menu-bg{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.3);
    opacity:0;
    visibility:hidden;
    transition:.3s;
    z-index:998;
}

#menu-bg.show{
    opacity:1;
    visibility:visible;
}

#side-menu{
    position:fixed;
    top:0;
    right:-320px;
    width:320px;
    height:100%;
    background:#FFFDF5;
    padding:30px;
    transition:.3s;
    z-index:999;

    display:flex;
    flex-direction:column;
}

#side-menu.show{
    right:0;
}

#close{
    border:none;
    background:none;
    font-size:42px;
    cursor:pointer;
    align-self:flex-end;
}

#side-menu ul{
    list-style:none;
    margin-top:20px;
}

#side-menu li{
    margin-bottom:18px;
}

#side-menu a{
    font-size:22px;
}

.top-box{
    margin-top:auto;
    text-align:center;
}

.top-link{
    font-size:26px;
}

/*------------------------
スマホ
------------------------*/

@media(max-width:768px){

    header{
        width:95%;
    }

    .category{
        font-size:24px;
        padding:12px 24px;
    }

    .recipe-list{
        width:95%;
        grid-template-columns:1fr;
        gap:40px;
    }

    .card h2{
        font-size:26px;
    }

    .level{
        font-size:22px;
    }

    #side-menu{
        width:260px;
    }

}