@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FFF8DC;
    font-family:"Zen Maru Gothic",sans-serif;
    color:#000;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

/*=========================
ヘッダー
=========================*/

header{
    width:90%;
    margin:25px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    background:#D8E6FF;
    padding:12px 30px;
    border-radius:40px;
    font-size:26px;
    font-weight:500;
}


.menu{
    width:42px;
}

.menu span{
    display:block;
    height:3px;
    background:#000;
    margin:8px 0;
    border-radius:3px;
}

/*=========================
レシピ一覧
=========================*/

.recipe-list{
    width:90%;
    margin:70px auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:70px 60px;
}

.recipe-card{
    position:relative;
    transition:.25s;
}

.recipe-card:hover{
    transform:scale(1.05);
}

.recipe-card img{
    width:100%;
    height:320px;          /* ← 高さを高く */
    object-fit:cover;
    border-radius:15px;
    display:block;
    transition:0.3s;
}

.recipe-card h2{
    margin-top:18px;
    font-size:24px;
    font-weight:500;
}

.level{
    margin-top:10px;
    font-size:28px;
    color:#FFD700;
    letter-spacing:2px;
}

.level span{
    color:#B5B5B5;
}


/*=========================
スマホ対応
=========================*/

@media(max-width:768px){

header{
    width:95%;
}

.logo{
    font-size:20px;
    padding:10px 20px;
}

.recipe-list{
    width:95%;
    grid-template-columns:1fr;
    gap:50px;
}

.recipe-card h2{
    font-size:22px;
}

.level{
    font-size:24px;
}

.memo{
    width:95px;
    height:28px;
    left:50%;
    transform:translateX(-50%) rotate(-5deg);
}

}